extends ./commons/template.pug

block style
  include ./styles/instagramPost.css

block template
  .shade
    .data
      .jsm JSMONDAY #{number || ''}
      hr
      h1 #{title}
      p  #{description}