html
  head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap")
    style
      block style
  body(style="background-image: url(" + image + ")")
    block template