html {
  background:#f5f5f5;
  color: #413f43;
}

body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1080px;
  height: 1080px;
  background: #000;
  background: none;
  font-family: 'Raleway', sans-serif;
}

.shade {
  display: flex;
  margin: 0;
  padding: 0;
  width: 1080px;
  height: 1080px;
  background: linear-gradient(240.64deg, #5545F9 0%, rgba(115, 103, 240, 0.85) 50%);
}

.data {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 90vw;
  height: 90vh;
  margin-left: 5vw;
  margin-top: 5vh;
  background: #000;
  border-radius: 25px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.25);
  background-size: cover;
  background-position: center;
}

.article-title {
  background: #fff;
  width: 90%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 76px;
  line-height: 72px;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
}

.author {
  display: flex;
  border-radius: 15px;
  margin-bottom: 25px;
  margin-left: 5%;
  width: 90%;
}

.author img {
  max-width: 80px;
}

.author .name {
  font-size: 32px;
  font-weight: 900;
  margin-left: 15px;
  color: #fff;
  transform: translateY(25px);
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}